<?xml version="1.0" encoding="UTF-8"?>
<module configVersion="1.0">
	
	<!-- Base Module Properties -->
	<id>htmlwidgets</id>
	<name>HTML Widgets</name>
	<version>1.6.1</version>
	<package>org.openmrs.module.@MODULE_ID@</package>
	<author>Partners In Health</author>
	<description>HTML Form widget library</description>
	<activator>@MODULE_PACKAGE@.ModuleActivator</activator>
	<require_version>1.6.0</require_version>

	<!-- Internationalization -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	
</module>